---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    My journey in computer science has been marked by a relentless pursuit of knowledge and hands-on experience. At UC Berkeley, I have honed my technical abilities, becoming proficient in a range of programming languages and gaining expertise in areas such as software development and data analysis. 
    I have served on staff for many courses in the past two years, and I've gained considerable experience in understanding how students can best understand complicated concepts, writing code and producing products that are easy to grasp yet powerful to use.

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of California, Berkeley"
      subtitle="2021 to 2025. B.A. in Computer Science"
    >
      Relevant Coursework: Computer Architecture and Machine Structures, Principles and Techniques of Data Science, Discrete Mathematics and Probability Theory, Data Structures and Programming Methodology, Structure and Interpretation of Computer Programs, Foundations of Data Science, Databases, and Efficient Algorithms and Intractable Problems
    </TimeLineElement>
    <TimeLineElement
      title="Interlake High School"
      subtitle="2017 to 2021. High School Diploma"
    >
      ACT: 36 / IB Diploma: 38
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Lab Instructor"
      subtitle="UC Berkeley Data Structures - CS61B. Jan 2023 - Present"
    >
      Instructor leading the development and delivery of curriculum in advanced data structures and algorithms. Managed a daily 3-hour lab attended by 40+ students, while also contributing to the creation of assignments and exams, and developing course infrastructure.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Mentor"
      subtitle="Berkeley Computer Science Mentors. Jan 2023 - June 2023"
    >
      Senior Mentor at CSM, a student-led organization providing CS education to Berkeley students. Lead instructor for a supplementary CS61B course, as well as a specialized class for CSM Junior Mentors centered on pedagogical techniques. Also assisted in the development, quality assurance, of video walkthroughs and CSM worksheets.
    </TimeLineElement>
    <TimeLineElement
      title="Academic Intern"
      subtitle="UC Berkeley Structure of Computer Algorithms - CS61A. May 2022 - September 2022"
    >
      Instructed a CS 61A lab section throughout the summer term, engaging with a cohort of 20+ students in bi-weekly sessions. Skillfully delivered lectures, provided comprehensive assistance with assignments and subject matter inquiries, and curated valuable study resources to optimize student learning outcomes.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Other Relevant Experience</div>
  </div>

  <div class = "time-line-container mb-10">
    <TimeLineElement
        title="AFX Executive Board"
        subtitle="Sept 2022 - Present"
      >
        Executive of the largest dance organization on the UC Berkeley campus, in charge of organizing 8 individual dance teams and 400+ dancers and maintaining communications with the directors for each of those teams. 
      </TimeLineElement>
      <TimeLineElement
        title="Research Intern"
        subtitle="Cohen Laboratory. Jan 2022 - June 2022"
      >
        Worked as part of a team of 3 students on a project which used data science and NumPy tools to extract data from NASA atmosphere databases and complicated data objects, then analyze the effects of rainfall on soil NOx emissions. 
      </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Java</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>C</li>
    <li>RISC-V</li>
    <li>SQL</li>
    <li>Regex</li>
  </ul>
</BaseLayout>
