---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Ronald Wang</div>
    <div class="text-3xl py-3 font-bold">A Computer Science major at UC Berkeley</div>
    <div class="py-2">
      <text class="text-lg">
        I'm currently teaching CS61B as a 10 hour TA. Check out some of the stuff I've made below :)
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/ronaldwang2025/" target="_blank"> LinkedIn</a>
      <a href="https://github.com/ronlad-wang" target="_blank" class="btn btn-outline ml-5">
        GitHub
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="EdStem ChatGPT Integration"
    img="/edstem_gpt.webp"
    desc="Automatically find unanswered questions and generates potential answers to conceptual and logistical questions. The bot classifies questions based on their contents and accesses pages in the course website with relevant information to assist in producing an accurate answer. Looking to further develop capabilities to debug student code by accessing the student's github repository and cloning the relevant code."
    url="https://github.com/ronlad-wang/edstemAI"
    badge="ONGOING"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="EdStem Slackbot"
    img="/edstem.png"
    desc="Bot that automatically scrapes an online forum and compiles a report of unresolved questions, links to said questions, and the amount of time which has passed since they were made. This report is then automatically sent to a channel in the CS61B course staff Slack using a cron job."
    url="https://github.com/Berkeley-CS61B/edstem-digest-cron/tree/main/app"
  />
</BaseLayout>
